<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Search Image System</title>
    <link rel="stylesheet" href="./static/css/style.css" type="text/css" media="all">
    <link href="http://maxcdn.bootstrapcdn.com/font-awesome/6.5.0/css/font-awesome.min.css" rel="stylesheet">
</head>
<body>
    <div class="header">
        <h2>Search Image System</h2>
    </div>
    <div class="dragdrop">
        <label for="input-file" id="dragdrop-area">
            <input type="file" accept="image/png, image/jpeg, image/jpg" id="input-file" hidden>
            <div id="drop-zone-border">
                <div id="drop-zone-area">
                    <img src="C:\\Users\\Phan Cong Duy\\My Code\\OJT\\FE_done\\static\\source\\cloud-arrow-up-solid.svg" alt="Upload Cloud" id="upload-cloud">
                    <p>Drag & Drop or click here <br> to upload image</p>
                    <span id="img-view-text">Upload any image from desktop</span>
                </div>
            </div>
        </label>
    </div>
    <div class="user-input-img-container">
        <div class="user-input-img-area">
            <div id="user-input-img" class="user-img">INPUT</div>
            <div id="user-output-img" class="user-img">OUTPUT
                
            </div>
        </div>
    </div>
    <script src="./static/js/script1.js"></script>
</body>
</html>
